.root {
  padding: 24px 32px;
  display: flex;
  :global {
    .ant-spin-nested-loading {
      flex: 1;
    }
  }
}

.rowSearch {
  gap: 24px;
  padding-right: 24px;
  input {
    width: 350px;
  }
}

.listMenu {
  margin-left: 48px;
  flex: 0 0 257px;
  max-width: 257px;
}

.spin {
  flex: 1;
}
